@model LachlanBarclayNet.ViewModel.AdminLoginViewModel
@{
    ViewBag.Title = "Login";
    ViewBag.MenuItemClass4 = "active";
}

@if (User.Identity.IsAuthenticated)
{
    <a href="Logout">Click here to logout</a>
}
else
{
    <a href="Login">Click here to log in</a>
}