@model LachlanBarclayNet.ViewModel.AdminLoginViewModel
@{
    ViewBag.Title = "Login";
    ViewBag.MenuItemClass4 = "active";
}

<div class="row">
    <div class="col-sm-6">
        Welcome: @User.Identity?.Name
    </div>
</div>
       
